.title {
  font-family: "Marta", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #2e2e2e; }

.heading {
  font-family: "Marta", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #2e2e2e; }

.link {
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: #c6c6c6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-property: all;
  transition-property: all; }
  .link:hover {
    color: #87172d; }

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-width: 320px;
  background-color: #f8f8f8;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #2e2e2e;
  cursor: default; }
  @media (max-width: 450px) {
    body {
      font-size: 14px; } }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

body.lock {
  overflow: hidden; }

button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer; }

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px; }

.company-subtitle {
  font-size: 22px; }

a {
  text-decoration: none; }

.btn {
  width: 100%;
  max-width: 230px;
  padding: 15px 5px;
  border-radius: 10px;
  will-change: transform;
  background-color: #87172d;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: all;
  transition-property: all; }
  .btn:hover {
    opacity: 0.9;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); }

.nav__link.disabled {
  cursor: default;
  color: #87172d;
  font-weight: 700; }

.main-slider .slick-list {
  overflow: hidden; }
.main-slider .slick-track {
  padding: 30px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tr {
  opacity: 0;
  -webkit-transform: translate(0px, 150px);
          transform: translate(0px, 150px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: all;
  transition-property: all; }
  .tr._active {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }

.trd {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transition-property: all;
  transition-property: all; }
  .trd._active {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }

/* burger-start */
.header__burger {
  position: fixed;
  z-index: 3;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 20px;
  background-color: #008993;
  border-radius: 50%;
  cursor: pointer;
  visibility: visible;
  display: none; }

.header__burger span {
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 2px; }

.header__burger::before,
.header__burger:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 25px;
  height: 2px;
  background-color: #ffffff; }

.header__burger::before {
  top: 30%; }

.header__burger::after {
  bottom: 30%; }

.header__burger.active:before {
  top: 19px;
  left: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.header__burger.active:hover:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #ff4141; }

.header__burger.active:after {
  bottom: 19px;
  left: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.header__burger.active:hover:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ff4141; }

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0); }

/* burger-stop */
/* menu-start */
.nav__list-device .nav__item {
  margin-bottom: 20px; }

.nav__list-device .nav__link {
  font-size: 22px; }

.header-device .header__btn {
  margin: auto; }

.header-device .item-cabinet {
  max-width: 200px;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 12px;
  border-radius: 90px; }

.header__btn-device {
  width: 100%;
  max-width: 200px;
  padding: 15px;
  text-align: center; }

.nav__list-device {
  position: fixed;
  z-index: 2;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: auto;
  text-align: center; }

.nav__list-device.active {
  top: 0;
  padding: 110px 10px 20px 10px;
  display: block;
  margin: auto;
  text-align: center; }

/* menu-stop */
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-display: swap;
  src: url(../fonts/opensans/OpenSans-regular.woff2) format("woff2"), url(../fonts/opensans/OpenSans-regular.woff) format("woff"), url(../fonts/opensans/OpenSans-bold.woff2) format("woff2"), url(../fonts/opensans/OpenSans-bold.woff) format("woff"); }
@font-face {
  font-family: 'Marta';
  font-style: normal;
  font-display: swap;
  src: url(../fonts/marta/Marta-Regular.woff2) format("woff2"), url(../fonts/marta/Marta-Regular.woff) format("woff"), url(../fonts/marta/Marta-Bold.woff2) format("woff2"), url(../fonts/marta/Marta-Bold.woff) format("woff"); }
.link {
  font-size: 16px;
  position: relative;
  display: inline-block; }
  .link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #87172d;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-property: all;
    transition-property: all; }
  .link:hover:after {
    opacity: 1;
    width: 100%;
    left: 0; }

.header {
  background-color: #ffffff; }

.top-header {
  color: #c6c6c6; }
  .top-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px; }
  .top-header__group-companies {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .top-header__language {
    text-transform: uppercase; }
  .top-header__feedback {
    margin-left: 50px; }

.language {
  position: relative;
  z-index: 2;
  color: #000;
  padding: 5px;
  padding-right: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: all;
  transition-property: all; }
  .language:hover:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .language:hover:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .language:hover {
    cursor: pointer; }
  .language:before, .language:after {
    content: '';
    position: absolute;
    top: 14px;
    right: 17px;
    width: 8px;
    height: 2px;
    background-color: rgba(43, 43, 43, 0.64);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: all;
    transition-property: all; }
  .language:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .language:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    right: 12px; }
  .language:hover a {
    top: 28px;
    visibility: visible; }
  .language b {
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    padding: 5px; }
  .language a {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 0px;
    left: 5px;
    visibility: hidden;
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: all;
    transition-property: all; }
    .language a:hover {
      color: #525252;
      text-decoration: underline; }

.feedback {
  color: #87172d;
  text-decoration: none;
  position: relative; }
  .feedback:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -30px;
    background-image: url(../images/header/mail.svg);
    background-size: contain;
    background-repeat: no-repeat; }
  .feedback:hover {
    text-decoration: underline; }

.menu {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0px;
  width: 100%;
  max-width: 1160px;
  padding: 15px 25px;
  margin: 30px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(43, 43, 43, 0.3);
          box-shadow: 0px 0px 8px rgba(43, 43, 43, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: all;
  transition-property: all; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.nav__item {
  margin: 0px 15px; }
.nav__link {
  color: #2e2e2e;
  text-transform: capitalize; }

.logo img {
  width: 202px;
  height: 43px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: all;
  transition-property: all; }

.logo-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 12px;
  margin-left: 10px;
  color: #87172d; }

.menu__active {
  padding: 10px 10px;
  background-color: #fff; }
  .menu__active .logo-text {
    display: none; }
  .menu__active .logo img {
    width: 160px;
    height: 37px; }

.slider-header {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden; }
  .slider-header .slick-list {
    position: relative;
    z-index: 0; }
  .slider-header .slick-track {
    overflow: hidden; }
  .slider-header__item {
    background-color: #3f3f3f;
    -webkit-animation-name: scaleUp;
            animation-name: scaleUp;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    height: 100vh;
    min-height: 700px; }
  .slider-header__item img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .slider-header .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0); }
  100% {
    -webkit-transform: scale(1.07) translateZ(0);
            transform: scale(1.07) translateZ(0); } }

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0); }
  100% {
    -webkit-transform: scale(1.07) translateZ(0);
            transform: scale(1.07) translateZ(0); } }
.header-body {
  position: relative;
  margin-top: -110px;
  margin-bottom: 70px;
  height: 100vh;
  min-height: 700px; }
  .header-body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(135deg, #000 0, transparent 54%, #000 100%); }
  .header-body h1 {
    font-family: 'Marta';
    display: inline-block;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.1;
    margin-bottom: 28px;
    position: relative; }
    .header-body h1::before {
      content: '';
      position: absolute;
      z-index: -1;
      background-image: url(../images/header/top-brushes.png);
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 788px;
      height: 355px; }
  .header-body h1 small {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.64); }
  .header-body__info {
    position: relative;
    z-index: 1;
    color: #ffffff;
    padding-top: 170px; }
  .header-body__text {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 100px; }
  .header-body__link {
    color: rgba(255, 255, 255, 0.64);
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: all;
    transition-property: all;
    position: relative;
    padding-left: 50px;
    display: inline-block; }
    .header-body__link:hover {
      color: rgba(255, 255, 255, 0.94); }
    .header-body__link:hover:before {
      border: 2px solid rgba(255, 255, 255, 0.94); }
    .header-body__link:hover span:before {
      background-color: rgba(255, 255, 255, 0.94);
      top: 17px; }
    .header-body__link:hover:after {
      background-color: rgba(255, 255, 255, 0.94);
      -webkit-box-shadow: 15px 0 0 rgba(255, 255, 255, 0.94);
              box-shadow: 15px 0 0 rgba(255, 255, 255, 0.94);
      width: 6px;
      height: 6px;
      top: 4px; }
    .header-body__link:before, .header-body__link:after {
      content: '';
      position: absolute;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transition-property: all;
      transition-property: all; }
    .header-body__link:before {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid rgba(255, 255, 255, 0.64);
      border-radius: 50%; }
    .header-body__link:after {
      left: 10px;
      top: 2px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.64);
      -webkit-box-shadow: 15px 0 0 rgba(255, 255, 255, 0.64);
              box-shadow: 15px 0 0 rgba(255, 255, 255, 0.64); }
    .header-body__link span:before {
      content: '';
      position: absolute;
      top: 16px;
      left: 14px;
      width: 12px;
      height: 3px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transition-property: all;
      transition-property: all;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      background-color: rgba(255, 255, 255, 0.64); }

.services {
  margin-bottom: 100px; }
  .services__title {
    margin-bottom: 30px; }
  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .services__link {
    display: block;
    background-color: #4a4a4a;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    max-width: 770px;
    height: 100%;
    padding: 20px;
    color: #e9e9e9;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: all;
    transition-property: all; }
    .services__link:hover {
      color: white; }
  .services__link:hover .services__more {
    border-top: 1px solid white; }
  .services__link:hover .services__more b:before, .services__link:hover .services__more b:after {
    background-color: white;
    right: -5px; }
  .services__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%; }
  .services__text {
    font-size: 20px;
    line-height: 1.4;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .services__more {
    border-top: 1px solid #e9e9e9;
    padding-top: 15px; }
  .services__more b {
    display: block;
    position: relative; }
    .services__more b:before, .services__more b:after {
      content: '';
      position: absolute;
      top: 4px;
      right: 0;
      width: 15px;
      height: 2px;
      background-color: #e9e9e9;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transition-property: all;
      transition-property: all; }
    .services__more b:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .services__more b:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 14px; }
  .services .tabs-contentbox {
    width: 100%;
    max-width: 770px; }
  .services .tabs-items {
    width: 100%;
    max-width: 351px;
    margin-left: 30px;
    padding: 20px;
    background-color: #ffffff; }
  .services .tabs-container {
    display: none;
    height: 0; }
  .services .tabs-active {
    display: block;
    height: 100%;
    min-height: 350px; }
  .services .tabs-link {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    color: #000000;
    position: relative;
    text-align: left; }
    .services .tabs-link:hover {
      color: #87172d; }
    .services .tabs-link:last-child {
      margin-bottom: 0; }
  .services .tabs-link--active {
    color: #87172d; }
    .services .tabs-link--active:before {
      content: '';
      position: absolute;
      top: 0px;
      left: -20px;
      width: 3px;
      height: 100%;
      background-color: #87172d; }

.figure__quote {
  position: relative;
  display: block;
  background-image: url(../images/quote/director-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 1px;
  min-height: 420px;
  margin-bottom: 100px; }
  .figure__quote:before {
    content: '';
    position: absolute;
    top: 30px;
    left: -20px;
    background-image: url(../images/quote/quote-svg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    width: 90px;
    height: 56px; }

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 30px; }
  .quote__director-img {
    position: absolute;
    bottom: 0;
    right: 20px; }
  .quote__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 100%;
    max-width: 720px;
    color: #ffffff; }
    .quote__info b {
      display: block;
      margin-bottom: 5px; }
  .quote__text {
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 25px; }

.quote__text {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: all;
  transition-property: all; }

.quote__text._active {
  opacity: 1;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px); }

.today {
  margin-bottom: 70px; }
  .today .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0 20px; }
  .today .slick-list {
    overflow: hidden; }
  .today__title {
    margin-bottom: 10px; }
  .today__subtitle {
    font-size: 20px;
    margin-bottom: 30px; }
  .today__slider {
    width: 100%;
    max-width: 1160px;
    margin: auto;
    counter-reset: section;
    position: relative; }
  .today__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10px;
    counter-increment: my-counter;
    position: relative; }
    .today__item:before {
      content: "0" counter(section);
      counter-increment: section;
      position: absolute;
      top: -35px;
      left: 0px;
      font-size: 50px;
      font-weight: 700;
      color: #87172d;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transition-property: all;
      transition-property: all; }
    .today__item:hover:before {
      top: -60px; }
  .today__box-info {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 360px;
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); }
  .today__heading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px; }
  .today__text {
    font-size: 18px; }

.main-slider {
  position: relative; }
  .main-slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0; }
  .main-slider .slick-dots li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 1px;
    border: 3px solid transparent;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer; }
  .main-slider .slick-dots .slick-active button {
    border: 3px solid #87172d; }
  .main-slider button {
    outline: #87172d;
    padding: 0;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #dcdcdc; }

.clients {
  margin-bottom: 100px; }
  .clients .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .clients .slick-list {
    overflow: hidden; }
  .clients__title {
    position: relative;
    margin-bottom: 30px; }
  .clients__subtitle {
    font-size: 20px;
    margin-bottom: 30px; }
  .clients__slider {
    padding: 50px 0 10px; }
  .clients__slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .clients__box-images {
    display: block;
    width: 100%;
    max-width: 160px; }
    .clients__box-images img {
      display: block;
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
      height: 100%;
      max-height: 140px; }

h3 .link-pages {
  position: absolute;
  padding-right: 30px;
  margin-right: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
  color: #c6c6c6;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: all;
  transition-property: all; }
  h3 .link-pages:hover {
    color: #8b8b8b; }
  h3 .link-pages:hover:before, h3 .link-pages:hover:after {
    background-color: #8b8b8b;
    right: 12px; }
  h3 .link-pages:before, h3 .link-pages:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 15px;
    width: 7px;
    height: 2px;
    background-color: #c6c6c6;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: all;
    transition-property: all; }
  h3 .link-pages:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  h3 .link-pages:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px; }

.projects-events {
  margin-bottom: -160px; }
  .projects-events__title {
    margin-bottom: 30px;
    position: relative; }
  .projects-events__body-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -10px 30px; }
  .projects-events__column {
    width: 100%;
    max-width: 380px;
    height: 1px;
    min-height: 260px;
    padding: 10px; }
  .projects-events__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #4a4a4a;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-property: all;
    transition-property: all;
    height: 100%;
    width: 100%;
    will-change: transform; }
    .projects-events__item:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .projects-events__item:hover .projects-events__info {
      color: #f4f4f4; }
  .projects-events__info {
    width: 100%;
    max-width: 180px;
    color: #ffffff;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-property: all;
    transition-property: all; }
    .projects-events__info time {
      display: block;
      color: #cbcbcb;
      font-size: 13px;
      margin-bottom: 5px; }
    .projects-events__info b {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700; }

.footer a {
  color: #000000; }
.footer span {
  color: #000000; }
.footer__body {
  background-color: #2c2c2c;
  padding-top: 250px; }
  .footer__body a {
    color: #c6c6c6; }
  .footer__body span {
    color: #c6c6c6; }
  .footer__body .footer__inner {
    border-top: 1px solid #c6c6c6; }
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #000000;
  color: #c6c6c6;
  padding: 25px 0; }
  .footer__inner a {
    display: inline-block; }
    .footer__inner a:hover {
      text-decoration: underline; }
.footer__phone-link {
  margin-left: 10px; }

.header-bg {
  margin-top: -110px;
  margin-bottom: 30px;
  background-color: #2c2c2c;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1px;
  min-height: 450px; }

.pagination {
  margin-bottom: 50px; }
  .pagination__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .pagination__item {
    font-size: 14px;
    margin-right: 30px; }
    .pagination__item:last-child {
      margin-right: 0; }
  .pagination__link {
    color: #8b8b8b;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: all;
    transition-property: all;
    position: relative; }
    .pagination__link:before, .pagination__link:after {
      content: '';
      position: absolute;
      top: 6px;
      right: -15px;
      width: 10px;
      height: 1px;
      background-color: #8b8b8b; }
    .pagination__link:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .pagination__link:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 13px; }
    .pagination__link:hover {
      color: #2c2c2c; }
  .pagination__link-active {
    color: #2c2c2c; }

.company-inner {
  width: 100%;
  max-width: 900px; }

.company__header {
  margin-bottom: 70px; }
.company__header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin: 0 -10px; }
.company__title {
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 1.3; }
.company__header-column {
  padding: 10px;
  width: 100%;
  max-width: 300px; }
.company__header-text {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(43, 43, 43, 0.2);
          box-shadow: 0px 0px 4px rgba(43, 43, 43, 0.2);
  border-radius: 10px;
  padding: 20px;
  font-size: 14px; }

.visco-numbers {
  margin-bottom: 70px; }
  .visco-numbers__title {
    margin-bottom: 20px; }
  .visco-numbers__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -10px; }
  .visco-numbers__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 300px;
    padding: 10px; }
    .visco-numbers__column:hover b {
      color: #87172d; }
    .visco-numbers__column:hover b:before, .visco-numbers__column:hover b:after {
      background-color: #87172d;
      left: 5px; }
  .visco-numbers__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px rgba(43, 43, 43, 0.2);
            box-shadow: 0px 0px 4px rgba(43, 43, 43, 0.2);
    border-radius: 10px; }
  .visco-numbers__images {
    display: block;
    width: 110px;
    margin-bottom: 15px; }
    .visco-numbers__images img {
      display: block;
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
      height: 110px; }
  .visco-numbers__numbers {
    margin-bottom: 15px; }
    .visco-numbers__numbers b {
      font-size: 50px;
      padding-left: 30px;
      line-height: 1;
      font-weight: 700;
      position: relative;
      color: #000000;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transition-property: all;
      transition-property: all; }
      .visco-numbers__numbers b:before, .visco-numbers__numbers b:after {
        content: '';
        position: absolute;
        top: 26px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 0;
        width: 25px;
        height: 4px;
        background-color: #000;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -webkit-transition-property: all;
        transition-property: all; }
      .visco-numbers__numbers b:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .visco-numbers__numbers b:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 42px; }
    .visco-numbers__numbers span {
      color: #8b8b8b; }

.company-mission {
  margin-bottom: 70px; }
  .company-mission__title {
    margin-bottom: 10px; }
  .company-mission__subtitle {
    margin-bottom: 30px; }
  .company-mission__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .company-mission__images {
    display: block;
    width: 100%;
    max-width: 418px;
    margin-right: 30px; }
    .company-mission__images img {
      display: block;
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 289px; }
  .company-mission__info {
    width: 100%;
    max-width: 430px; }
  .company-mission__item {
    margin-bottom: 20px; }
    .company-mission__item:last-child {
      margin-bottom: 0; }

.company-group {
  margin-bottom: 70px; }
  .company-group__title {
    margin-bottom: 10px; }
  .company-group__subtitle {
    margin-bottom: 30px; }
  .company-group__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .company-group__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    width: 100%;
    max-width: 435px; }
  .company-group__images {
    display: block;
    width: 230px;
    margin-bottom: 25px; }
    .company-group__images img {
      display: block;
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
      height: 100%;
      max-height: 42px; }
  .company-group__heading {
    margin-bottom: 15px;
    font-size: 13px; }

.company-clients {
  margin-bottom: 70px; }
  .company-clients__title {
    margin-bottom: 10px; }
  .company-clients__subtitle {
    margin-bottom: 30px; }
  .company-clients__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .company-clients__images {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 10px; }
    .company-clients__images img {
      display: block;
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
      height: 100%;
      max-height: 120px; }

.specialization {
  margin-bottom: 70px; }
  .specialization__text-title {
    font-size: 22px;
    margin-bottom: 30px; }
  .specialization__body {
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px; }
  .specialization__column {
    height: 1px;
    min-height: 400px; }
    .specialization__column:hover .specialization__text, .specialization__column:hover .specialization__more {
      color: #ffffff; }
    .specialization__column:hover b:before, .specialization__column:hover b:after {
      right: -5px;
      background-color: #fff; }
  .specialization__link-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    background-color: #2c2c2c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 20px; }
  .specialization__info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .specialization__text {
    font-size: 20px;
    color: #e9e9e9;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: all;
    transition-property: all; }
  .specialization__more {
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    color: #e9e9e9;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: all;
    transition-property: all; }
    .specialization__more b {
      display: block;
      position: relative; }
      .specialization__more b:before, .specialization__more b:after {
        content: '';
        position: absolute;
        top: 5px;
        right: 0;
        width: 15px;
        height: 2px;
        background-color: #e9e9e9;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -webkit-transition-property: all;
        transition-property: all; }
      .specialization__more b:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .specialization__more b:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 15px; }

.projects-all {
  margin-bottom: 70px; }
  .projects-all__body {
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-left: 45px;
    margin-bottom: 40px;
    position: relative; }
    .projects-all__body .year {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      left: -20px;
      font-size: 35px;
      height: 100%;
      padding: 40px 0;
      font-weight: 700;
      color: #87172d; }
      .projects-all__body .year span {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); }
  .projects-all__column {
    border-radius: 5px;
    overflow: hidden; }
    .projects-all__column:hover .projects-all__link {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      z-index: 2; }
    .projects-all__column:hover .projects-all__text {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
  .projects-all__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #2c2c2c;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-position: center center;
    padding: 10px;
    height: 1px;
    min-height: 300px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    will-change: transform; }
  .projects-all__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #ffffff;
    width: 260px;
    height: 100%;
    text-align: center;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-property: all;
    transition-property: all;
    will-change: transform; }
    .projects-all__text > * {
      display: block; }
    .projects-all__text small {
      font-size: 15px;
      color: #dcdcdc; }
    .projects-all__text span {
      overflow: auto;
      font-size: 24px;
      margin-bottom: 12px; }
    .projects-all__text time {
      font-size: 18px;
      padding: 5px 12px;
      background-color: #87172d;
      border-radius: 25px;
      color: #efefef; }

.btn__hidden {
  display: block;
  cursor: pointer;
  margin: 0 auto 30px;
  position: relative; }

.btn__hidden--active {
  display: none; }

.box__visible {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  position: relative;
  top: 200px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: all;
  transition-property: all; }

.box__visible--active {
  visibility: visible;
  height: auto;
  overflow: visible;
  top: 0px; }

.press-center {
  margin-bottom: 50px; }
  .press-center__body {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-rows: repeat(2, 260px);
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    grid-gap: 25px;
    padding-left: 45px;
    margin-bottom: 50px;
    position: relative; }
    .press-center__body:last-child {
      margin-bottom: 0; }
    .press-center__body .year {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      left: -20px;
      font-size: 35px;
      height: 100%;
      padding: 40px 0;
      font-weight: 700;
      color: #87172d; }
      .press-center__body .year span {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); }
  .press-center__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #4d4d4d;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px black;
            box-shadow: 0px 0px 4px black; }
    .press-center__link:hover:after {
      background-color: rgba(0, 0, 0, 0.4); }
    .press-center__link:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transition-property: all;
      transition-property: all; }
    .press-center__link b {
      overflow: auto;
      font-size: 18px;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      margin-bottom: 5px;
      font-weight: 700;
      color: #ffffff;
      z-index: 1; }
    .press-center__link time {
      font-size: 14px;
      color: #e1e1e1;
      z-index: 1; }

.career__bg {
  background-image: url(../images/career/career-top.jpg);
  background-color: #2c2c2c;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

.work {
  margin-bottom: 70px; }
  .work__title {
    margin-bottom: 30px; }
  .work__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .work__item {
    width: 100%;
    max-width: 360px;
    padding: 10px; }
  .work__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px; }
  .work__heading {
    font-size: 22px;
    font-weight: 700;
    margin-right: 10px; }
  .work__images {
    display: block; }
    .work__images img {
      display: block;
      -o-object-fit: contain;
         object-fit: contain;
      width: 90px;
      height: 93px; }
  .work__info {
    font-size: 15px; }

.stories {
  margin-bottom: 70px; }
  .stories__title {
    margin-bottom: 10px; }
  .stories__slider .slick-list {
    overflow: hidden; }
  .stories__slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0 20px; }
  .stories__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px; }
  .stories__info {
    width: 100%;
    max-width: 600px;
    margin-right: 30px; }
  .stories__text {
    color: #4a4a4a;
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 20px; }
  .stories__person b {
    display: block;
    color: #87172d;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px; }
  .stories__images {
    display: block;
    width: 100%;
    max-width: 500px; }
    .stories__images img {
      display: block;
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 415px; }

.corporate {
  margin-bottom: 70px; }
  .corporate__title {
    margin-bottom: 10px; }
  .corporate__slider .slick-list {
    overflow: hidden; }
  .corporate__slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 20px; }
  .corporate__item {
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-template-rows: repeat(1, 270px);
    grid-template-columns: repeat(auto-fill, 360px);
    grid-gap: 0px 15px; }
  .corporate__images {
    display: grid;
    width: 100%;
    max-width: 360px; }
    .corporate__images img {
      display: block;
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 270px; }

.join-team {
  margin-bottom: 70px; }
  .join-team .tabs-items {
    margin-bottom: 20px; }
  .join-team .tabs-link {
    margin-right: 16px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #2c2c2c;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: all;
    transition-property: all; }
    .join-team .tabs-link:hover {
      color: #87172d; }
    .join-team .tabs-link:last-child {
      margin-right: 0px; }
  .join-team .tabs-link--active {
    color: #87172d; }
  .join-team .tabs-container {
    display: none;
    height: 0; }
  .join-team .tabs-container--active {
    display: grid;
    grid-template-rows: 1, 270px;
    grid-template-columns: repeat(4, 265px);
    grid-gap: 20px;
    height: 100%;
    min-height: 270px; }
  .join-team__title {
    margin-bottom: 30px; }
  .join-team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #a3a3a3;
    color: #2c2c2c;
    width: 100%;
    max-width: 265px;
    padding: 30px 20px 20px;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-property: all;
    transition-property: all;
    will-change: transform; }
    .join-team__item:hover {
      -webkit-transform: scale(1.02);
              transform: scale(1.02); }
    .join-team__item:hover:after {
      border-bottom: 0px solid #e0e0e0;
      border-right: 0px solid #f8f8f8; }
    .join-team__item:before, .join-team__item:after {
      content: '';
      position: absolute;
      top: 0;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      -webkit-transition-property: all;
      transition-property: all; }
    .join-team__item:before {
      left: 0;
      margin-left: auto;
      width: 230px;
      height: 30px; }
    .join-team__item:after {
      top: -3px;
      right: -3px;
      height: 0;
      width: 0px;
      border-bottom: 30px solid #e0e0e0;
      border-right: 30px solid #f8f8f8; }
    .join-team__item:hover .join-team__footer span {
      color: #87172d; }
    .join-team__item:hover .join-team__footer span:before {
      border-color: #87172d; }
    .join-team__item:hover .join-team__footer span:after {
      background-color: #87172d; }
  .join-team__header {
    border-bottom: 1px solid #a3a3a3;
    padding-bottom: 10px;
    margin-bottom: 20px; }
    .join-team__header b {
      display: block;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px; }
    .join-team__header small {
      display: block;
      color: #87172d;
      font-weight: 700;
      font-size: 14px; }
  .join-team__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 20px; }
  .join-team__list-item {
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative; }
    .join-team__list-item:last-child {
      margin-bottom: 0px; }
    .join-team__list-item:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 8px;
      height: 1px;
      background-color: #a3a3a3; }
  .join-team__footer span {
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: all;
    transition-property: all;
    font-weight: 700;
    color: #a3a3a3;
    position: relative; }
    .join-team__footer span:before, .join-team__footer span:after {
      content: '';
      position: absolute;
      top: -3px;
      right: 0;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      -webkit-transition-property: all;
      transition-property: all; }
    .join-team__footer span:before {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid #a3a3a3; }
    .join-team__footer span:after {
      width: 10px;
      height: 3px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 16px;
      right: -4px;
      background-color: #a3a3a3; }

.suitable-vacancies {
  margin-bottom: 70px; }
  .suitable-vacancies__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .suitable-vacancies__info {
    width: 100%;
    max-width: 750px;
    margin-right: 20px; }
  .suitable-vacancies__title {
    margin-bottom: 15px; }
  .suitable-vacancies__text {
    font-size: 25px;
    line-height: 1.4; }
    .suitable-vacancies__text a {
      text-decoration: underline;
      color: #87172d;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transition-property: all;
      transition-property: all; }
      .suitable-vacancies__text a:hover {
        text-decoration: none; }
  .suitable-vacancies__images {
    display: block;
    width: 100%;
    max-width: 360px; }
    .suitable-vacancies__images img {
      display: block;
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
      height: 100%;
      max-height: 262px; }

.team {
  margin-bottom: 70px; }
  .team__text-heading {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 40px; }
  .team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -20px; }
  .team__item {
    font-size: 18px;
    line-height: 1.4;
    color: #666666;
    width: 100%;
    max-width: 330px;
    margin: 0 20px; }

.team__personal-container {
  margin-bottom: 70px; }
.team__btn {
  margin: auto; }
.team__body {
  margin-bottom: 50px; }
  .team__body:last-child {
    margin-bottom: 0; }
.team__title {
  margin-bottom: 10px; }
.team__slider-item {
  text-align: center;
  margin-right: 20px; }
  .team__slider-item:last-child {
    margin-right: 0; }
.team__images {
  width: 100%;
  max-width: 280px;
  margin-bottom: 20px; }
  .team__images img {
    display: block;
    text-align: center;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
    margin: auto;
    max-height: 260px; }
.team__person {
  margin-bottom: 5px; }
.team__text {
  font-size: 15px;
  line-height: 1.4; }

.company-management__slider {
  width: 100%;
  max-width: 600px; }

.team__slider .slick-dots,
.company-management__slider .slick-dots {
  display: none; }

body.lock {
  overflow: hidden; }

.popup {
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.popup.open {
  opacity: 1;
  visibility: visible; }

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1; }

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px; }

.popup__content {
  background-color: #EBEBEB;
  color: #000000;
  width: 100%;
  max-width: 500px;
  padding: 50px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.popup__close {
  position: absolute;
  z-index: 99;
  top: 12px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 15px;
  background-color: transparent; }

.popup__close:before,
.popup__close:after {
  content: '';
  width: 24px;
  height: 3px;
  background-color: #3596F5;
  position: fixed;
  top: 26px;
  right: 28px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.popup__close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.popup__close:hover:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.popup__close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.popup__close:hover:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.popup__close:hover:before,
.popup__close:hover:after {
  background-color: #ff0202; }

.popup-form__fieldset {
  margin-bottom: 15px; }
.popup-form__title {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #000000;
  text-align: center; }
.popup-form__text {
  font-size: 17px;
  line-height: 1.4;
  color: #626262; }
.popup-form__input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px; }
  .popup-form__input::-webkit-input-placeholder {
    font-size: 13px;
    color: #949494; }
.popup-form__textarea {
  width: 100%;
  padding: 5px;
  resize: vertical;
  min-height: 80px;
  max-height: 200px; }
  .popup-form__textarea::-webkit-input-placeholder {
    font-size: 13px;
    color: #949494; }
.popup-form__btn {
  text-align: center;
  margin: 20px auto 0; }

.services .hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */