$fonts_OS: 'OpenSans', sans-serif;
$fonts_M: 'Marta', sans-serif;
$color_black: #2e2e2e;
$color_silver: #c6c6c6;
$color_burgundy: #87172d;
$fz_16: 16px;
$fz_30: 30px;
$fz_18: 18px;
$fw_400: 400;
$fw_700: 700;

@mixin breakpoint($point) {

    @if $point == lg {
        @media(max-width: 992px) {@content;}
    }
    @else if $point == md {
        @media(max-width: 768px) {@content;}
    }
    @else if $point == sm {
        @media(max-width: 576px) {@content;}
    }
    @else if $point == xxs {
        @media(max-width: 450px) {@content;}
    }
    @else if $point == xs {
        @media(max-width: 320px) {@content;}
    }
}

%title{
    font-family: $fonts_M;
    text-transform: uppercase;
    font-size: $fz_30;
    font-weight: $fw_700;
    color: $color_black;
}

%heading{
    font-family: $fonts_M;
    text-transform: uppercase;
    font-size: $fz_16;
    font-weight: $fw_400;
    line-height: 1.3;
    color: $color_black;
}

%link{
    font-family: $fonts_OS;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: $fz_16;
    font-weight: $fw_700;
    line-height: 1.3;
    color: $color_silver;
    transition: 0.4s;
    transition-property: all;
    &:hover{
        color: $color_burgundy;
    }
}